:root {
  --primary-color: #007AF3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: "Poppins";
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.image-box {
  width: 100vw;
  max-height: 500px;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: url('https://pix10.agoda.net/hotelImages/451/45166/45166_14011718200018097318.jpg?ca=2&ce=1&s=414x232&ar=16x9');
}

.image-box::before {
  content: "";
  display: block;
  padding-bottom: 66.67%;
}

.image-box .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.info-section {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-top: 40px;
  background-color: #354453;
  padding: 20px;
  border: 10px;
  flex-wrap: wrap;
  width: 100%;
  background: #fbf6ed;
  font-family: 'Montserrat',sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #444;
  letter-spacing: 0;
}
.info-section1 .img-info {
  flex: 1;
  max-width: 45%;
  text-align: center;
}

.info-section1 .img-info img {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.info-section1 .text-info {
  flex: 1;
  max-width: 45%;
  text-align: center;
  order: 2;
  width: 100%;
  direction: ltr;
}

.info-section2 .img-info {
  flex: 1;
  max-width: 45%;
  text-align: center;
  order: 2;
}

.info-section2 .img-info img {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.info-section2 .text-info {
  flex: 1;
  max-width: 45%;
  text-align: center;
  width: 100%;
  direction: ltr;
}
.info-section2 {
  flex: wrap;
}

.img-info {
  flex: 1;
  max-width: 45%;
  text-align: center; /* Center text horizontally */
}

.img-info img {
  width: 100%;
  max-width: 450px; /* Set maximum width for the image */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image within its container */
}

.text-info {
  flex: 1;
  max-width: 45%;
  text-align: center; /* Center text horizontally */
  order: 2;
  width: 100%;
  direction: ltr;
  
}
*, *::before, *::after {
    box-sizing: border-box;
}
.info-section .img-info .text-info{
  display: block;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  margin: 16px 0;
}

.text-info p {
  font-size: 1.2em;
  margin-top: 20px;
}
.text-info h1 {
  margin-bottom: 80px;
}
@media only screen and (max-width: 768px)
text-info {
    padding: 40px 64px;
    order: 2;
}
@media only screen and (max-width: 768px)
text-info {
    display: block;
    text-align: center;
    width: 100%;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }

.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.contact-left {
  flex: 1;
  max-width: 50%;
}

.contact-left form {
  width: 100%;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

.map-section {
  flex: 1;
  border: 2px solid #ccc;
  padding: 10px;
  right: 0;
  top: 0;
  width: 45%;
  height: 100%;
  position: absolute;
}

.contact-section {
  position: relative;
  margin-left: 20px;
}

.map-section iframe {
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
}


.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

.navbar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .navbar-links {
    display: none;
    width: 100%;
    text-align: right;
    position: absolute;
    top: 60px;
    background-color: #f2f2f2;
  }

  .navbar-links.show {
    display: block;
  }

  .menu-toggle {
    display: block;
  }
}

}
.logo {
  margin-left: 90px; /* Adjust the margin to create space on the left side of the logo */
}

.logo img {
  max-height: 40px; /* Set the maximum height for the logo */
  width: auto;
}

.navbar-container {
  display: flex;
  justify-content: flex-end; /* Align items to the left */
  align-items: center;
  margin-left: 20px; /* Add margin to the left side of the navbar */
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
}
.navbar {

}